<!DOCTYPE html>
    <html>
        <head>
            <title>Dashboard</title>
        </head>
        <body>

            <h1>Dashboard MMotos</h1>

            <div>
                <h2>Total de Clientes</h2>
                <p>{{ total_clientes }}</p>
            </div>


            <div>
                <h2>Total de Serviços</h2>
                <p>{{ total_servicos }}</p>
            </div>

            <div>
                <h2>Faturamento</h2>
                <p>R$ {{ faturamento }}</p>
            </div>

        </body>
    </html>